.feedback-page {
  display: flex;
  flex-direction: column;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -4px rgb(0 0 0 / 0.3);
  max-width: 15rem;
}

.feedback-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.feedback-card h3 {
  text-transform: uppercase;
}

.feedback-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.star {
  margin-bottom: 1rem;
}

.positive {
  background-color: var(--green);
}
.negative {
  background-color: var(--red);
  color: white;
}
.medium {
  background-color: var(--orange);
  color: white;
}

.time {
  margin-top: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 1280px) {
  .feedback-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .feedback-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .feedback-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
